# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/.venv

__pypackages__/
__pycache__/

ALDI/__pycache__
DIRK/__pycache__
LIDL/__pycache__
AH/__pycache__


.DS_Store
DIRK/.DS_Store
ALDI/.DS_Store
LIDL/.DS_Store
AH/.DS_Store

IT_Logbook_Week1_to_Week5.txt
